.login__form{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.17);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.7px);
-webkit-backdrop-filter: blur(3.7px);
border: 1px solid rgba(255, 255, 255, 0.24);

/*  */
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 40vw;
height: 70vh;
gap: 30px;
padding: 30px;
}

.login{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 60px;
}

input{
    border: 1px solid white;
border-radius: 11px;
background: #bababa;
width: 90%;
height: 100%;
 background-color: inherit;
 padding: 5px;
 font-size: medium;
}

input:focus{
    outline: none;
    color: white;
}
.login__form>div{
    height: 30px;
    width: 100%;
}

button{
width: 30%;
height: 30px;
background-color: inherit;
border-radius: 5px;
border-color: white;
color: white;
margin: 0 auto;
display: block;
border: 1px solid white;
}

button:hover{
    cursor: pointer;
}

h2{
    color: white;
}

.login__signup{
    width: fit-content;
}

.login__signup>button{
    width: fit-content;
    border: none;
}